@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

/* Copied from Mastodon source */
.invisible {
	font-size: 0;
	line-height: 0;
	display: inline-block;
	width: 0;
	height: 0;
	position: absolute;
}

.invisible img,
.invisible svg {
	margin: 0 !important;
	border: 0 !important;
	padding: 0 !important;
	width: 0 !important;
	height: 0 !important;
}

.ellipsis::after {
	content: '…';
}

.status .content a {
	color: #6364ff;
}

/* Throbber */
.loader {
	width: 52px;
	height: 52px;
	position: relative;
}

.loader::before,
.loader::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background: #1e82f4;
}

.loader::after {
	animation: push 2s infinite linear;
	animation-delay: 1s;
}

@keyframes push {

	0%,
	50% {
		opacity: 0;
		transform: translate(0, -100%) scale(0);
	}

	100% {
		opacity: 1;
		transform: translate(0, 0) scale(1);
	}
}
